﻿@using bigeyedev.Models
@model  Contract
@{
    Layout = "~/Views/Shared/Front-End_Layout.cshtml";
    ViewBag.Title = "Address";
}

<div class="container" id="tablecon">
    <div id="newContract">
        @using (Html.BeginForm("Address", "Home", FormMethod.Post, new { role = "form" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()

            // แสดงถ้ามีที่อยู่เคยบันทึกไว้อยู่แล้ว
            if (Model.addressList.Count > 0)
            {
                <h6 style="color:green;">ใช้ที่อยู่เดิม</h6>
                foreach (var item in Model.addressList.OrderByDescending(m => m.address_order))
                {
                    <div>                        
                        <label style="color:blue;">
                            <input type="radio" name="addressRdo" value="@item.id" />คุณ @item.name โทร:@item.mobile_shop ที่อยู่: @item.address @item.sub_district @item.district @item.province รหัสไปษณีย์ @item.zip
                        </label>
                    </div>
                }

            }

            <div class="form-group">
                <h6 style="color:green;">ใช้ที่อยู่ใหม่</h6>
                <label style="color:blue;">
                    <input type="radio" name="addressRdo" value="0"/>
                </label>
                <p>ชื่อ-สกุล</p>
                @Html.EditorFor(m => m.address.name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <p>เบอร์โทรศัพท์</p>
                @Html.EditorFor(m => m.address.mobile_shop, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <p>เบอร์โทรศัพท์-สำรอง</p>
                @Html.EditorFor(m => m.address.mobile2_shop, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <p>Line ID</p>
                @Html.EditorFor(m => m.memberData.line_id, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <p>Emial</p>
                @Html.EditorFor(m => m.memberData.email, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <p>ชื่อ Shop</p>
                @Html.EditorFor(m => m.address.shop_name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <p>ที่อยู่</p>
                @Html.EditorFor(m => m.address.address, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <p>ตำบล/แขวง</p>
                @Html.EditorFor(m => m.address.sub_district, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <p>อำเภอ/เขต</p>
                @Html.EditorFor(m => m.address.district, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <p>จังหวัด</p>
                @Html.EditorFor(m => m.address.province, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <p>รหัสไปษณีย์</p>
                @Html.EditorFor(m => m.address.zip, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <input type="submit" class="btn btn-default" value="ยืนยัน" />
        }
    </div>
</div>
