@using bigeyedev.Models
@model Tuple<List<stockBindingModel>, List<stockBindingModel>>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/Front-End_Layout.cshtml";
}
<div class="test" id="cont">
    @using (Html.BeginForm("Cart", "Home", FormMethod.Post, new { id = "form-validation" }))
    {
        int ii = 0;
        @Html.AntiForgeryToken()
        foreach (var item in Model.Item2.GroupBy(m => m.brand))
        {
            //inti brand logo
            string Brand_Logo = null, Brand_Bg = null;
            if (item.Key.Contains("Pretty Doll"))
            {
                Brand_Logo = "http://www.sugar-eye.net/pic/logo_prettydoll.gif";
                Brand_Bg = "#d4f9d9";
            }
            else if (item.Key.Contains("Sweety"))
            {
                Brand_Bg = "#dcf6f8";
                Brand_Logo = "http://www.sugar-eye.net/pic/logo_sweety.gif";
            }
            else if (item.Key.Contains("Lollipop"))
            {
                Brand_Logo = "http://www.sugar-eye.net/pic/logo_lollipop.gif";
                Brand_Bg = "#ffffeb";
            }
            else if (item.Key.Contains("Eye Berry"))
            {
                Brand_Logo = "http://www.sugar-eye.net/pic/logo_eyeberry.gif";
                Brand_Bg = "#fde9f2";
            }
            else if (item.Key.Contains("Dream Color1"))
            {
                Brand_Logo = "http://www.sugar-eye.net/pic/logo_dreamcolor1.gif";
                Brand_Bg = "#f2dbfb";
            }
            else if (item.Key.Contains("Kitty Kawaii"))
            {
                Brand_Logo = "http://www.sugar-eye.net/pic/logo_kitty.gif";
                Brand_Bg = "#fed5ef";
            }
            else if (item.Key.Contains("Pretty Lens"))
            {
                Brand_Logo = "http://www.sugar-eye.net/pic/logo_pretty.gif";
                Brand_Bg = "#d9f0c3";
            }
            else if (item.Key.Contains("Beauty"))
            {
                Brand_Logo = "http://www.sugar-eye.net/pic/logo_beauty.gif";
                Brand_Bg = "#eef1f2";
            }

            //show brand logo
            <img src="@Brand_Logo" alt="@item.Key" title="@item.Key" height="80" /><p></p>

            //bind table
            <table border="1" bordercolor="#cccccc" class="test2" id="table">
                @foreach (var modelItem in item)
                {
                    <input type="hidden" value="@modelItem.id" name="[@ii].id" />
                    <input type="hidden" value="@modelItem.brand" name="[@ii].brand" />
                    <input type="hidden" value="@modelItem.model" name="[@ii].model" />
                    <tr>
                        <td width="150" bgcolor="@Brand_Bg">
                            <a href="http://www.sugar-eye.net/@modelItem.imageUrl.Replace("bigeye/review/image", "bigeye/review/image_bigeyeinw")" class="swipebox" title="@modelItem.model - @modelItem.brand - @modelItem.near">
                                &nbsp;@modelItem.model
                            </a>
                        </td>
                        <td style="padding-top: 5px;padding-bottom: 5px; padding-left: 3px; padding-right: 3px">
                            @if (Model.Item1.Find(x=>x.id==modelItem.id).Black > 0)
                            {
                                @Html.EditorFor(m => modelItem.Black, new { htmlAttributes = new { @class = "product_qty valid-number", placeholder = "Black", style = "color: #000000; font-size: 11px; border-color:#000000;", size = "5", onkeypress = "return numbersonly(this, event)", Name="["+ii+"].Black" } });
                            }
                            @if (Model.Item1.Find(x=>x.id==modelItem.id).Choco > 0)
                            {
                                @Html.EditorFor(m => modelItem.Choco, new { htmlAttributes = new { @class = "product_qty valid-number", placeholder = "Choco", style = "color: #af6b00; font-size: 11px; border-color:#af6b00;", size = "5", onkeypress = "return numbersonly(this, event)", Name= "[" + ii + "].Choco" } });
                            }
                            @if (Model.Item1.Find(x=>x.id==modelItem.id).Gray > 0)
                            {
                                @Html.EditorFor(m => modelItem.Gray, new { htmlAttributes = new { @class = "product_qty valid-number", placeholder = "Gray", style = "color: #acacac; font-size: 11px; border-color:#acacac;background-color: #f6f6f6;", size = "5", onkeypress = "return numbersonly(this, event)",Name= "[" + ii + "].Gray" } });
                            }
                            @if (Model.Item1.Find(x=>x.id==modelItem.id).Brown > 0)
                            {
                                    @Html.EditorFor(m => modelItem.Brown, new { htmlAttributes = new { @class = "product_qty valid-number", placeholder = "Brown", style = "color: #f1ac40; font-size: 11px; border-color:#f1ac40;background-color: #f7f1e7;", size = "5", onkeypress = "return numbersonly(this, event)", Name = "[" + ii + "].Brown" } });
                            }
                            @if (Model.Item1.Find(x=>x.id==modelItem.id).Blue > 0)
                            {
                                @Html.EditorFor(m => modelItem.Blue, new { htmlAttributes = new { @class = "product_qty valid-number", placeholder = "Blue", style = "color: #2c4aff; font-size: 11px; border-color:#2c4aff;", size = "5", onkeypress = "return numbersonly(this, event)", Name = "[" + ii + "].Blue" } });
                            }
                            @if (Model.Item1.Find(x=>x.id==modelItem.id).Green > 0)
                            {
                                @Html.EditorFor(m => modelItem.Green, new { htmlAttributes = new { @class = "product_qty valid-number", placeholder = "Green", style = "color: #2ddb2d; font-size: 11px; border-color:#2ddb2d;", size = "5", onkeypress = "return numbersonly(this, event)", Name = "[" + ii + "].Green" } });
                            }
                            @if (Model.Item1.Find(x=>x.id==modelItem.id).Violet > 0)
                            {
                                @Html.EditorFor(m => modelItem.Violet, new { htmlAttributes = new { @class = "product_qty valid-number", placeholder = "Violet", style = "color: #c559e4; font-size: 11px; border-color:#c559e4;", size = "5", onkeypress = "return numbersonly(this, event)", Name = "[" + ii + "].Violet" } });
                            }
                            @if (Model.Item1.Find(x=>x.id==modelItem.id).Pink > 0)
                            {
                                @Html.EditorFor(m => modelItem.Pink, new { htmlAttributes = new { @class = "product_qty valid-number", placeholder = "Pink", style = "color: #fd74fb; font-size: 11px; border-color:#fd74fb;", size = "5", onkeypress = "return numbersonly(this, event)", Name = "[" + ii + "].Pink" } });
                            }
                            @if (Model.Item1.Find(x=>x.id==modelItem.id).Silver > 0)
                            {
                                @Html.EditorFor(m => modelItem.Silver, new { htmlAttributes = new { @class = "product_qty valid-number", placeholder = "Silver", style = "color: #d1cfd1; font-size: 11px; border-color:#d1cfd1;", size = "5", onkeypress = "return numbersonly(this, event)", Name = "[" + ii + "].Silver" } });
                            }
                            @if (Model.Item1.Find(x=>x.id==modelItem.id).Gold > 0)
                            {
                                @Html.EditorFor(m => modelItem.Gold, new { htmlAttributes = new { @class = "product_qty valid-number", placeholder = "Gold", style = "color: #f9d463; font-size: 11px; border-color:#f9d463;", size = "5", onkeypress = "return numbersonly(this, event)", Name = "[" + ii + "].Gold" } });
                            }
                            @if (Model.Item1.Find(x=>x.id==modelItem.id).Sky > 0)
                            {
                                @Html.EditorFor(m => modelItem.Sky, new { htmlAttributes = new { @class = "product_qty valid-number", placeholder = "Sky", style = "color: #14e0a4; font-size: 11px; border-color:#14e0a4;", size = "5", onkeypress = "return numbersonly(this, event)", Name = "[" + ii + "].Sky" } });
                            }
                            @if (Model.Item1.Find(x=>x.id==modelItem.id).Red > 0)
                            {
                                @Html.EditorFor(m => modelItem.Red, new { htmlAttributes = new { @class = "product_qty valid-number", placeholder = "Red", style = "color: #ff0000; font-size: 11px; border-color:#ff0000;", size = "5", onkeypress = "return numbersonly(this, event)", Name = "[" + ii + "].Red" } });
                            }

                        </td>
                    </tr>
                    ii++;
                }
            </table>
        }
        <input type="submit" value="Order" class="btn btn-default" id="btnsub" />
    }
</div>

