
@{

    Layout = "~/Views/Shared/Front-End_Layout.cshtml";
}





<!-- Mixins-->
<!-- Pen title_login-->
@*<div class="pen-title_login">
    <h1>Material Login Form</h1><span>Pen <i class='fa fa-code'></i> by <a href='http://andytran.me'>Andy Tran</a></span>
</div>*@
@*<div class="rerun"><a href="">Rerun Pen</a></div>*@
<div class="container_login">
    <div class="card_login"></div>
    <div class="card_login">
        <h1 class="title_login">@Resources.Resource.menu_login</h1>
        <form action="" method="post" id="form-validation">
            <div class="input-container">
                <input type="tel" id="Username" required="required" class ="product_qty valid-number" onkeypress="return numbersonly(this, event)" value="" maxlength = "15" pattern="^[0-9]{8,9}$"/>
                <label for="Username">@Resources.Resource.login_mobile</label>
                <div class="bar_login"></div>    
            </div>
            <div class="input-container">
                <input type="tel" id="Password" required="required" class ="product_qty valid-number" onkeypress="return numbersonly(this, event)" value="" maxlength = "4" pattern="^[0-9]{8,9}$"/>
                <label for="Password">@Resources.Resource.login_year</label>
                <div class="bar_login"></div>
            </div>
            <div class="button-container">
                <button><span>@Resources.Resource.login_go</span></button>
            </div>
            <div class="footer_login"><a href="#">@Resources.Resource.login_forgot</a></div>
        </form>
    </div>
    <div class="card_login alt">
        <div class="toggle_login"></div>
        <h1 class="title_login">
            @Resources.Resource.login_register
            <div class="close_login"></div>
        </h1>

        <form>
            
            <div class="input-container">
                <input type="tel" id="Username" required="required" class ="product_qty valid-number" onkeypress="return numbersonly(this, event)" value="" maxlength = "15" pattern="^[0-9]{8,9}$" />
                <label for="Username">@Resources.Resource.login_mobile</label>
                <div class="bar_login"></div>
            </div>
            <div class="input-container">
                <input type="tel" id="Password" required="required" class ="product_qty valid-number" onkeypress="return numbersonly(this, event)" value="" maxlength = "4" pattern="^[0-9]{8,9}$"/>
                <label for="Password">@Resources.Resource.login_year</label>
                <div class="bar_login"></div>
            </div>
            <div class="input-container">
                <input type="tel" id="Repeat Password" required="required" class ="product_qty valid-number" onkeypress="return numbersonly(this, event)" value="" maxlength = "4" pattern="^[0-9]{8,9}$"/>
                <label for="Repeat Password">Repeat @Resources.Resource.login_year</label>
                <div class="bar_login"></div>
            </div>
            <div class="button-container">
                <button><span>@Resources.Resource.login_next</span></button>
            </div>
        </form>
    </div>
</div>
@*<!-- Portfolio--><a id="portfolio" href="http://andytran.me/" title="View my portfolio!"><i class="fa fa-link"></i></a>
<!-- CodePen--><a id="codepen" href="http://codepen.io/andytran/" title="Follow me!"><i class="fa fa-codepen"></i></a>*@
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script src="~/assets/material-login-form/js/index.js"></script>


