﻿@using bigeyedev.Models
@model Tuple<Contract, List<stockBindingModel>>
@{
    Layout = "~/Views/Shared/Front-End_Layout.cshtml";
    ViewBag.Title = "Review";
}
<div class="container" id="cont">
    <p>ชื่อ-สกุล : @Model.Item1.address.name</p>
    <p>เบอร์โทร : @Model.Item1.address.mobile_shop</p>
    @if (Model.Item1.address.mobile2_shop != null)
    {
        <p> เบอร์โทร สำรอง: @Model.Item1.address.mobile2_shop</p>
    }
    <p>Line ID : @Model.Item1.memberData.line_id</p>
    <p>Email : @Model.Item1.memberData.email</p>
    <p>ชื่อร้อน : @Model.Item1.address.shop_name</p>
    <p>ที่อยู่ : @Model.Item1.address.address</p>
    <p>ตำบล/แขวง : @Model.Item1.address.sub_district</p>
    <p>อำเภอ/เขต : @Model.Item1.address.district</p>
    <p>จังหวัด : @Model.Item1.address.province</p>
    <p>รหัสไปษณีย์ : @Model.Item1.address.zip</p>
    <hr />
    <table class="tab table-condensed">
        @foreach (var item in Model.Item2)
        {
            <tr>
                <td width="150">
                    <a href="http://www.sugar-eye.net/@item.imageUrl.Replace("bigeye/review/image", "bigeye/review/image_bigeyeinw")" class="swipebox" title="@item.model - @item.brand - @item.near">
                        &nbsp;@item.model
                    </a>
                </td>
                <td style="padding-top: 5px;padding-bottom: 5px; padding-left: 3px; padding-right: 3px">
                <td style="padding-top: 5px;padding-bottom: 5px; padding-left: 3px; padding-right: 3px">
                    @if (item.Black > 0)
                    {
                        @Html.EditorFor(m => item.Black, new { htmlAttributes = new { @class = "product_qty valid-number", placeholder = "Black", style = "color: #000000; font-size: 11px; border-color:#000000;", size = "5", onkeypress = "return isNumberKey(event)" } });
                    }
                    @if (item.Choco > 0)
                    {
                        @Html.EditorFor(m => item.Choco, new { htmlAttributes = new { @class = "product_qty valid-number", placeholder = "Choco", style = "color: #af6b00; font-size: 11px; border-color:#af6b00;", size = "5", onkeypress = "return isNumberKey(event)" } });
                    }
                    @if (item.Gray > 0)
                    {
                        @Html.EditorFor(m => item.Gray, new { htmlAttributes = new { @class = "product_qty valid-number", placeholder = "Gray", style = "color: #acacac; font-size: 11px; border-color:#acacac;background-color: #f6f6f6;", size = "5", onkeypress = "return isNumberKey(event)" } });
                    }
                    @if (item.Brown > 0)
                    {
                        @Html.EditorFor(m => item.Brown, new { htmlAttributes = new { @class = "product_qty valid-number", placeholder = "Brown", style = "color: #f1ac40; font-size: 11px; border-color:#f1ac40;background-color: #f7f1e7;", size = "5", onkeypress = "return isNumberKey(event)" } });
                    }
                    @if (item.Blue > 0)
                    {
                        @Html.EditorFor(m => item.Blue, new { htmlAttributes = new { @class = "product_qty valid-number", placeholder = "Blue", style = "color: #2c4aff; font-size: 11px; border-color:#2c4aff;", size = "5", onkeypress = "return isNumberKey(event)" } });
                    }
                    @if (item.Green > 0)
                    {
                        @Html.EditorFor(m => item.Green, new { htmlAttributes = new { @class = "product_qty valid-number", placeholder = "Green", style = "color: #2ddb2d; font-size: 11px; border-color:#2ddb2d;", size = "5", onkeypress = "return isNumberKey(event)" } });
                    }
                    @if (item.Violet > 0)
                    {
                        @Html.EditorFor(m => item.Violet, new { htmlAttributes = new { @class = "product_qty valid-number", placeholder = "Violet", style = "color: #c559e4; font-size: 11px; border-color:#c559e4;", size = "5", onkeypress = "return isNumberKey(event)" } });
                    }
                    @if (item.Pink > 0)
                    {
                        @Html.EditorFor(m => item.Pink, new { htmlAttributes = new { @class = "product_qty valid-number", placeholder = "Pink", style = "color: #fd74fb; font-size: 11px; border-color:#fd74fb;", size = "5", onkeypress = "return isNumberKey(event)" } });
                    }
                    @if (item.Silver > 0)
                    {
                        @Html.EditorFor(m => item.Silver, new { htmlAttributes = new { @class = "product_qty valid-number", placeholder = "Silver", style = "color: #d1cfd1; font-size: 11px; border-color:#d1cfd1;", size = "5", onkeypress = "return isNumberKey(event)" } });
                    }
                    @if (item.Gold > 0)
                    {
                        @Html.EditorFor(m => item.Gold, new { htmlAttributes = new { @class = "product_qty valid-number", placeholder = "Gold", style = "color: #f9d463; font-size: 11px; border-color:#f9d463;", size = "5", onkeypress = "return isNumberKey(event)" } });
                    }
                    @if (item.Sky > 0)
                    {
                        @Html.EditorFor(m => item.Sky, new { htmlAttributes = new { @class = "product_qty valid-number", placeholder = "Sky", style = "color: #14e0a4; font-size: 11px; border-color:#14e0a4;", size = "5", onkeypress = "return isNumberKey(event)" } });
                    }
                    @if (item.Red > 0)
                    {
                        @Html.EditorFor(m => item.Red, new { htmlAttributes = new { @class = "product_qty valid-number", placeholder = "Red", style = "color: #ff0000; font-size: 11px; border-color:#ff0000;", size = "5", onkeypress = "return isNumberKey(event)" } });
                    }
                </td>
            </tr>
        }
    </table>
    @using (Html.BeginForm("Result", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div id="option">
            <p>ในกรณีที่มีสินค้าบางตัวหมด?</p>
            <input type="radio" name="replace" />ให้ผมจัดรุ่นใกล้เคียงที่สุด Style เดียวกัน (ได้รับการบริการที่เร็วกว่า)


            <input type="radio" name="replace" />แทน รุ่นที่สั่ง โดยกระจายรุ่นให้ครบตามจำนวน


            <input type="radio" name="replace" id="fix" />ข้าม (ให้ลูกค้าทำ Order เผื่อจำนวนเกินไว้หน่อย และอย่าลืม Fix จำนวนที่จะเอาด้วย)


            <input type="radio" name="replace" />ข้าม และวงแจ้งรุ่นที่หมด ไปทาง LINE
            <br />
            <input class="form-control" type="tel" id="txtFix" width="3" disabled />
            <p>ลายเดียวกัน+โรงงานเดียวกัน แต่คนละยี่ห้อ แทนได้ไหม?</p>

            <input type="radio" name="replace_fac" />แทนได้


            <input type="radio" name="replace_fac" />เอาเฉพาะยี่ห้อที่เลือก เท่านั้น

        </div>
        <input type="submit" value="สั่งซื้อ" class="btn btn-danger" />
    }
</div>
<script type="text/javascript">
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    document.getElementById('fix').onchange = displayTextBox;

    var textBox = document.getElementById('txtFix');
    function displayTextBox(evt) {
        if (evt.target.checked) {
            textBox.disabled = true;
        } else {
            textBox.disabled = false;
        }
    }
</script>
