@*เปลี่ยนภาษา*@
@*@using System.Resources;*@
@*@using System.Globalization;*@
@*@using System.Threading;*@

@using bigeyedev.Models;
@*@using System;
    @using System.Collections.Generic;*@
@using System.Data.Entity;
@*@using System.Linq;
    @using System.Threading.Tasks;
    @using System.Web;
    @using System.Web.Mvc;*@
@*@model List<checkWebsite>*@

@{
    // ในส่วน html ต้องมีตรงนี้ด้วย แยกกับ controller
    if (Session["Culture"] != null)
    {
        string Culture = Session["Culture"] as string;
        //ใช้อันไหนก็ได้ระหว่าง Thread กับ Resources
        //Thread.CurrentThread.CurrentUICulture = new CultureInfo("en-US");
        Resources.Resource.Culture = new System.Globalization.CultureInfo(Culture);
    }
    else
    {
        Resources.Resource.Culture = new System.Globalization.CultureInfo("");
    }

    sugareyeEntities _db = new sugareyeEntities();
    var mywebsite = _db.bigeyedev_shop.Where(m => m.website == "" + Request.Url.Host + "").Select(u => new checkWebsite
    {
        //id = u.id,
        //shop_id = u.shop_id ,
        shop_name = u.shop_name,
        //promotion = u.promotion,
        logo_menu_url = u.logo_menu_url,
        logo_top_url = u.logo_top_url,
        meta_des = u.meta_des,
        meta_keyword = u.meta_keyword,
        website = u.website,
        //tel = u.tel,
        //face_id = u.face_id,
        //face_qr_url = u.face_qr_url,
        //face_url = u.face_url,
        //line_id = u.line_id,
        //line_qr_url = u.line_qr_url,
        //line_url = u.line_url,
        //line_at_id = u.line_at_id,
        //insta_id = u.insta_id,
        //insta_qr_url = u.insta_qr_url,
        //insta_url = u.insta_url,
        //email = u.email,
        //location_address = u.location_address,
        //location_url = u.location_url
    }).ToList();
    //var myshop2 = _db.bigeyedev_shop.Where(s => s.)
    //{
    //    website = u.website
    //}).ToList();

    //var webData = new bigeyedev_shop();
    //foreach (var webName in myshop2)
    //{
    //    if (webName.website == Request.Url.Authority)
    //    {
    //        webData = _db.bigeyedev_shop.Where(m => m.website == Request.Url.Authority).Single();
    //    }
    //}
}

<!DOCTYPE html>
<html lang="en">
<head>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Lock ไม่ให้แก้ขนาด -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <title>@mywebsite[0].shop_name - @ViewBag.Title</title>
    <meta name="keywords" content="@mywebsite[0].meta_keyword" />
    <meta name="description" content="@mywebsite[0].meta_des">
    <!-- Favicons แก้เป็น logo dynamic -->
    <link rel="apple-touch-icon-precomposed" href="http://materializecss.com/images/favicon/apple-touch-icon-152x152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="http://materializecss.com/images/favicon/mstile-144x144.png">
    <link rel="icon" href="http://materializecss.com/images/favicon/favicon-32x32.png" sizes="32x32">
    @*<link rel="icon" href="~/pic/favicon.ico" type="image/x-icon" />*@   
    <!--  Android 5 Chrome Color by Tom สี pattern ของ web  ff4075-->
    <meta name="theme-color" content="#ff4075">
    <!-- CSS-->
    @*ยังไม่รู้ว่าคืออะไร*@
    @*<link href="~/assets/css/prism.css" rel="stylesheet">*@

    <link href="~/assets/css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    @*อยากใช้ font อะไรไปขอ googleapis ได้ by Tom*@
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @*สำหรับใช้ transifex มาช่วยแปล แต่มันคิดเงินเป็นคำ*@
    @*<script>
          window.liveSettings = {
            api_key: "a0b49b34b93844c38eaee15690d86413",
            picker: "bottom-right",
            detectlang: true,
            dynamic: true,
            autocollect: true
          };
        </script>*@
    @*<script src="~/Scripts/live.js"></script>**@
    @*<script src="//cdn.transifex.com/live.js"></script>*@
    @*ทอมสร้างมาเอง by Tom*@
    @*<script type="text/javascript">window.liveSettings={api_key:"478becdbfbc9455d8ec60d9be83a9f1f"}</script>
        <script type="text/javascript" src="//cdn.transifex.com/live.js"></script>*@
    <!-- น่าจะเป็นตัวโหลด พวก *.css มันติดมากับการเปิด mvc -->
    @*@Styles.Render("~/Content/css")*@
    <!-- ยังไม่รู้ว่ามันคืออะไร มันติดมากับการเปิด mvc-->
    @*@Scripts.Render("~/bundles/modernizr")*@
    <!-- Analytics เดี๋ยวค่อยเอามาใส่ -->
    @*ไม่ได้ใช้*@
    @*<meta property="og:site_name" content="Swipebox" />
        <meta property="og:url" content="http://brutaldesign.github.com/swipebox/" />
        <meta property="og:image" content="http://swipebox.csag.co/images/swipe250.jpg" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="Swipebox | A touchable jQuery lightbox" />
        <meta property="og:description" content="Swipebox is a jQuery lightbox plugin for desktop, mobile and tablet">
        <meta itemprop="name" content="Swipebox | A touchable jQuery lightbox">
        <meta itemprop="image" content="http://swipebox.csag.co/images/swipe250.jpg">
        <meta itemprop="description" content="Swipebox is a jQuery lightbox plugin for desktop, mobile and tablet">*@
    @*เรียกมาแล้ว เปลี่ยน font ทั้ง web*@
    @*<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Merriweather:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>*@
    @*ไม่ได้ใช้*@
    @*<link rel="stylesheet" href="http://brutaldesign.github.io/swipebox/demo/normalize.css">
        <link rel="stylesheet" href="http://brutaldesign.github.io/swipebox/demo/bagpakk.min.css">
        <link rel="stylesheet" href="http://brutaldesign.github.io/swipebox/demo/style.css">*@
    @*icon มันจะแปลงให้โหลดเป็น .svg / ถ้าโหลดเป็นเครื่องตัวเอง icon จะไม่แสดงบน iphone และ ie จะแสดงแค่บน firefox(ไม่เกี่ยว) / ที่มันแสดงแค่บน firefox เป็นเพราะไฟล์ svg ที่เราเอามาแปลงไม่สมบูรณ์ ต้องไป url โหลดบน web เดิมมัน )*@
    <link rel="stylesheet" href="~/assets/swipebox/src/css/swipebox.css">
    @*<link rel="stylesheet" href="http://brutaldesign.github.io/swipebox/src/css/swipebox.css">*@
    <!-- share buttons FB -->
    @*<script type="text/javascript">
        (function(doc, script) {
                var js,
                fjs = doc.getElementsByTagName(script)[0],
                add = function(url, id) {
                if (doc.getElementById(id)) {return;}
                js = doc.createElement(script);
                js.src = url;
                id && (js.id = id);
                fjs.parentNode.insertBefore(js, fjs);
                };add("//connect.facebook.net/en_US/all.js#xfbml=1", "facebook-jssdk");
                add("//platform.twitter.com/widgets.js", "twitter-wjs");
                }(document, "script"));
            </script>*@
    <!-- end share buttons -->
    @*สำหรับ Facebook share*@
    <link rel='stylesheet' id='fcbk_stylesheet-css' href='http://www.pixelademo.com/wp-content/plugins/facebook-button-plugin/css/style.css?ver=4.1' type='text/css' media='all' />
    <script type='text/javascript' src='http://www.pixelademo.com/wp-content/plugins/facebook-button-plugin/js/script.js?ver=4.1'></script>
    <!-- ทำให้ ไม่สามารถพิมอักษร บน Input ได้ -->
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/assets/jquery.pwstabs.css">
    @*<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>*@
    <script src="/assets/jquery.pwstabs-1.1.0.js"></script>
    @*<link type="text/css" rel="stylesheet" href="http://www.jqueryscript.net/demo/Flat-Animated-Tabs-Plugin-For-jQuery-PWS-Tabs/styles.css">*@
    @*<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300&subset=cyrillic,latin' rel='stylesheet' type='text/css'>*@
    <script>
        jQuery(document).ready(function ($) {
            $('.tabset0').pwstabs();
            $('.tabset1').pwstabs({
                effect: 'scale',  /* ชนิดขยาย */
                defaultTab: 1,  /* เปิดมาถึง เลือกไว้ที่ tab1 เอง*/
                containerWidth: '400px' /* แก้ขนาด tab ตรงนี้ */
            });
            $('.tabset2').pwstabs({
                effect: 'slideleft',
                defaultTab: 2,
                containerWidth: '600px'
            });
            $('.tabset3').pwstabs({
                effect: 'slidetop',
                defaultTab: 3,
                containerWidth: '600px'
            });
            $('.tabset4').pwstabs({
                effect: 'slidedown',
                defaultTab: 2,
                containerWidth: '600px'
            });
            $('.tabset5').pwstabs({
                effect: 'slideright',
                defaultTab: 1,
                containerWidth: '600px'
            });
        });
    </script>




    <link rel="stylesheet" href="~/assets/material-login-form/css/reset.css">

    @*<link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>*@
    @*รูป symbol ดินสอ*@
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

    <link rel="stylesheet" href="~/assets/material-login-form/css/style.css">

    


  


    <link href="~/Content/Site.css" rel="stylesheet" />



    <link href="~/assets/drop-lang/styles.css" rel="stylesheet" />



</head>
<body>
    <header>
        <nav class="top-nav">
            <div class="container">
                <div class="nav-wrapper">
                    <a class="page-title">
                        <img src="@mywebsite[0].logo_top_url" alt="Logo" width="118" height="40">
                        


                        <div class="tom-top-right">
                            <a href="/Home/Tracking" title="@Resources.Resource.menu_tracking" target=""><img src="~/pic/icon/tracking_icon.png" alt="Tracking" height="28" /></a>
                            &nbsp;
                            <a href="/Home/Cart" title="@Resources.Resource.menu_cart" target="_blank"><img src="~/pic/icon/cart_icon.png" alt="Cart" height="28" /></a>
                        </div>


                        <div class="tom-top-right2">
                            <div class="drop-lang">
                                <div class="drop-trigger">

                                    <a class="th">@Resources.Resource.lang&nbsp;<i class="fa fa-caret-down"></i></a>

                                    <div class="sub-lang">
                                        <ul class="lang-content">
                                            <li><a class="en" href="~/Culture">English</a></li>
                                            <li><a class="th" href="~/Culture/Thai">Thai</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>













</a>
                </div>
            </div>
            <div class="container">
                <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a>
            </div>
        </nav>
        @*สีของ background menu แต่ตัดออกไปแล้ว ให้ไปใส่ใน .side-nav*@
        <ul id="nav-mobile" class="side-nav fixed">
            <!-- Logo Brand-->
            <li class="logo">
                @*<a id="logo-container" href="" class="brand-logo">*@
                @*<object id="front-page-logo" type="image/gif" data="~/pic/slidebars-logo-white2.gif">Your browser does not support SVG</object>*@
                <img src="@mywebsite[0].logo_menu_url" height="57" />
                @*</a>*@
            </li>
            <li class="search">
                <div class="search-wrapper card">
                    <input id="search"><i class="material-icons">search</i>
                    <div class="search-results"></div>
                </div>
            </li>
            @*@Html.ActionLink("Home", "Index", "Home")*@
            <li class="bold"><a href="" class="waves-effect waves-pink">@Resources.Resource.menu_home</a></li>
            <li class="bold"><a href="/Home/Login" target="" class="waves-effect waves-pink">@Resources.Resource.menu_login</a></li>
            <li class="bold"><a href="/Home/Cart" target="_blank" class="waves-effect waves-pink">@Resources.Resource.menu_cart</a></li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li class="bold">
                        <a class="collapsible-header  waves-effect waves-pink">@Resources.Resource.menu_recommend</a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="/Home/New_Dueba" target="_blank">@Resources.Resource.menu_recommend_dueba</a></li>
                                <li><a href="/Home/New_Dream" target="_blank">@Resources.Resource.menu_recommend_dream</a></li>
                                <li><a href="/Home/New_Vassen" target="_blank">@Resources.Resource.menu_recomment_vassen</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="bold">
                        <a class="collapsible-header  waves-effect waves-pink">@Resources.Resource.menu_fashion</a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="/Home/Fashion_Set">@Resources.Resource.menu_fashion_no_select</a></li>
                                <li><a href="/Home/Fashion_Select_Only_Color">@Resources.Resource.menu_fashion_color</a></li>
                                <li><a href="/Home/Fashion_Select">@Resources.Resource.menu_fashion_select</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="bold">
                        <a class="collapsible-header  waves-effect waves-pink">@Resources.Resource.menu_power</a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="/Home/Power_Set">@Resources.Resource.menu_power_no_select</a></li>
                                <li><a href="/Home/Power_Select_Only_Color">@Resources.Resource.menu_power_color</a></li>
                                <li><a href="/Home/Power_Select">@Resources.Resource.menu_power_select</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="bold">
                        <a class="collapsible-header  waves-effect waves-pink">@Resources.Resource.menu_other</a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="/Home/Solution">@Resources.Resource.menu_other_solution</a></li>
                                <li><a href="/Home/SetBox">@Resources.Resource.menu_other_setbox</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="bold">
                        <a class="collapsible-header  waves-effect waves-pink">@Resources.Resource.menu_service</a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="/Home/Service_Change">@Resources.Resource.menu_service_change</a></li>
                                <li><a href="/Home/Service_Recommend">@Resources.Resource.menu_service_recommend</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="bold"><a href="/Home/Tracking" class="waves-effect waves-pink">@Resources.Resource.menu_tracking</a></li>
                </ul>
            </li>
            @*<li class="bold active"><a href="" class="waves-effect waves-pink"  >Tracking</a></li>*@
            <li class="bold"><a href="Cantact" class="waves-effect waves-pink">@Resources.Resource.menu_contact</a></li>
        </ul>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 m9 l10">
                    <!--        Sidenav   -->
                    <div id="right" class="section scrollspy">
                        <br /><br /><br /><br />
                        <h5 class="header">@ViewBag.Title</h5>
                        @*<p class="caption">
                                The navbar is fully contained by an HTML5 Nav tag. Inside a recommended container div, there are 2 main parts of the navbar. A logo or brand link, and the navigations links. You can align these links to the left or right.
                            </p>*@
                        @*<h4>Drag Out Menu</h4>*@
                        @*<p>This plugin includes several options for customizing the menu. See <a href="side-nav.html#options">Plugin Options</a> for details.</p>*@
                        @*<img class="mobile-image" src="images/menu.gif">*@

                        @*<br />
                        <li>@Html.ActionLink("English (Defualt)", "", "Culture")</li>
                        <li>@Html.ActionLink("Thai", "Thai", "Culture")</li>
                        <br />*@

                        @RenderBody();
                    </div>
                    <!--        Toast   -->
                    @*<div id="toast-mobile" class="section scrollspy">
                            <h2 class="header">Toast</h2>
                            <h4>Swipe to Dismiss</h4>
                            <p>On all devices, you can swipe to dismiss toasts.</p>
                            <img class="mobile-image" src="images/toast.gif">

                        </div>*@
                </div>
                @*ห้ามลบ ads
                <div class="col hide-on-small-only m3 l2">
                    <div class="toc-wrapper">
                        <div class="buysellads hide-on-small-only">*@
                            <!-- CarbonAds Zone Code -->
                            @*<script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=materializecss" id="_carbonads_js"></script>
                        </div>
                        <div style="height: 1px;">
                            <ul class="section table-of-contents">
                                <li><a href="#right">Sidebar</a></li>
                                <li><a href="#toast-mobile">Toast</a></li>
                            </ul>
                        </div>
                    </div>
                </div>*@
            </div> <!-- End Container -->
    </main>    
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                @*จ่าย paypal*@
                @*<div class="col l4 s12">
                                        <h5 class="white-text">Help Materialize Grow</h5>
                                        <p class="grey-text text-lighten-4">We hope you have enjoyed using Materialize! If you feel Materialize has helped you out and want to support the team, send us over a donation! Any amount would help support and continue development on this project and is greatly appreciated.</p>
                                        <form id="paypal-donate" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                            <input type="hidden" name="cmd" value="_s-xclick">
                                            <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHLwYJKoZIhvcNAQcEoIIHIDCCBxwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYC2O5rnsmP26R+2wNew3Jc3rCzBzw8LpJh1TTRZyMIFMYv/voKC1TMEvxU0ct4gdsZ29zARE96gRsCPVtVpY1hGr0NivLXeiHyw3xoW9UfzjcI9gZy5PZYoNv2xkTMj+jUkzuBMDiB2JfrIH7ZNxbcK1m/ep7Luoo1CR8JmYNCtlzELMAkGBSsOAwIaBQAwgawGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQI/PHaKaPxsg2AgYh0FZUDlxXaZSGYZJiUkF4L0p9hZn0tYmT6kqOqB50541GOsZtJSVAO/F+Qz5I9EsCuGve7GLKSBufhNjWa24ay5T2hkGJkAzISlqS2qBQSFDDpHDyEnNSZ2vPG2K8Bepc/SQD5nurs+vyC55axU4OnG33RBEtAmdOrAlZGxwzDBSjg4us1epUyoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTQxMjE1MDcwNTI3WjAjBgkqhkiG9w0BCQQxFgQUTOnEae05+jEbHsz0um3L3/Cl/zgwDQYJKoZIhvcNAQEBBQAEgYAGuieIpSk7XCxyo4RieZQ/SO0EHUYEW9B7KFJB9qZ1+yCKpUm7prwsGGOJAAdqKOw59I7qjLQI5cFJz/O8Ivb14TclAZiKTnOCB/wO1QHp+9s+hF00D6v0TDetLm0GLnk/7ljWvNq1pTyiMTLVg4yw1dAzQE1tC6bYTtLuDhLl0Q==-----END PKCS7-----
                    ">
                                            <button class="btn waves-effect waves-light red lighten-3" type="submit" name="action" alt="PayPal - The safer, easier way to pay online!">
                                                Donate Now
                                            </button>
                                        </form>

                                    </div>*@


                @*พูดคุยกันในส่วนผู้ที่พัฒนาโปรแกรม*@
                @*<div class="col l4 s12">
                        <h5 class="white-text">Join the Discussion</h5>
                        <p class="grey-text text-lighten-4">We have a Gitter chat room set up where you can talk directly with us. Come in and discuss new features, future goals, general problems or questions, or anything else you can think of.</p>
                        <a class="btn waves-effect waves-light red lighten-3" target="_blank" href="https://gitter.im/Dogfalo/materialize">Chat</a>
                    </div>*@
                @*เอาไว้ลงพวก Social*@
                <div class="col l4 s12" style="overflow: hidden;">
                    <h5 class="white-text">Connect</h5>
                    @*<iframe src="http://ghbtns.com/github-btn.html?user=dogfalo&repo=materialize&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
                        <br>
                        <a href="https://twitter.com/MaterializeCSS" class="twitter-follow-button" data-show-count="true" data-size="large" data-dnt="true">Follow MaterializeCSS</a>
                        <br>
                        <div class="g-follow" data-annotation="bubble" data-height="24" data-href="https://plus.google.com/108619793845925798422" data-rel="publisher"></div>*@
                    <div class="fcbk_share"><div class="fcbk_like"><fb:like href="http://www.pixelademo.com/mobile-menu/" layout="button_count" width="450" show_faces="false" share="false"></fb:like></div></div><span class="synved-social-container synved-social-container-share">
                        <a class="synved-social-button synved-social-button-share synved-social-size-24 synved-social-resolution-single synved-social-provider-facebook nofancybox" data-provider="facebook" target="_blank" rel="nofollow" title="Share on Facebook" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.pixelademo.com%2Fmobile-menu%2F&#038;t=Mobile%20Menu&#038;s=100&#038;p&#091;url&#093;=http%3A%2F%2Fwww.pixelademo.com%2Fmobile-menu%2F&#038;p&#091;images&#093;&#091;0&#093;=&#038;p&#091;title&#093;=Mobile%20Menu" style="font-size: 0px; width:24px;height:24px;margin:0;margin-bottom:10px;margin-right:10px;"><img alt="facebook" title="Share on Facebook" class="synved-share-image synved-social-image synved-social-image-share" width="24" height="24" style="display: inline; width:24px;height:24px; margin: 0; padding: 0; border: none; box-shadow: none;" src="http://www.pixelademo.com/wp-content/plugins/social-media-feather/synved-social/image/social/regular/48x48/facebook.png" /></a>
                        @*<a class="synved-social-button synved-social-button-share synved-social-size-24 synved-social-resolution-single synved-social-provider-twitter nofancybox" data-provider="twitter" target="_blank" rel="nofollow" title="Share on Twitter" href="http://twitter.com/share?url=http%3A%2F%2Fwww.pixelademo.com%2Fmobile-menu%2F&#038;text=Hey%20check%20this%20out" style="font-size: 0px; width:24px;height:24px;margin:0;margin-bottom:10px;"><img alt="twitter" title="Share on Twitter" class="synved-share-image synved-social-image synved-social-image-share" width="24" height="24" style="display: inline; width:24px;height:24px; margin: 0; padding: 0; border: none; box-shadow: none;" src="http://www.pixelademo.com/wp-content/plugins/social-media-feather/synved-social/image/social/regular/48x48/twitter.png" /></a>*@
                    </span>
                </div><!-- .entry-content -->
            </div>
        </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 @mywebsite[0].shop_name, All rights reserved.
                @*<a class="grey-text text-lighten-4 right" href="https://github.com/Dogfalo/materialize/blob/master/LICENSE">MIT License</a>*@
            </div>
        </div>
    </footer>
    <!-- Twitter Button -->
    @*<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>*@
    <!-- Google Plus Button-->
    @*<script src="https://apis.google.com/js/platform.js" async defer></script>*@
    <!--  Google Analytics  -->
    @*<script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-56218128-1', 'auto');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
        </script>*@
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script>
        if (!window.jQuery) { document.write('<script src="https://code.jquery.com/jquery-2.1.1.min.js"><\/script>'); }
    </script>
    <script src="~/assets/js/jquery.timeago.min.js"></script>
    <script src="~/assets/js/prism.js"></script>
    <script src="~/assets/jade/lunr.min.js"></script>
    <script src="~/assets/jade/search.js"></script>
    @*ต้องรันใน folder ที่ให้รันได้ พวกลูกเล่น wave ต้องใช้อันนี้ทำงาน*@
    <script src="~/Scripts/materialize.js"></script>
    <script src="~/assets/js/init.js"></script>
    @*<section id="" class="">
        </section>*@
    <script src="~/assets/swipebox/lib/ios-orientationchange-fix.js"></script>
    <script src="~/assets/swipebox/lib/jquery-2.1.0.min.js"></script>
    <script src="~/assets/swipebox/src/js/jquery.swipebox.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            /* Basic Gallery */
            $('.swipebox').swipebox();
            /* Video */
            $('.swipebox-video').swipebox();
            /* Dynamic Gallery */
            $('#gallery').click(function (e) {
                e.preventDefault();
                $.swipebox([
					{ href: 'http://swipebox.csag.co/mages/image-1.jpg', title: 'My Caption' },
					{ href: 'http://swipebox.csag.co/images/image-2.jpg', title: 'My Second Caption' }
                ]);
            });
        });
    </script>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1443946719181573&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, "script", "facebook-jssdk"));</script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var mashsb = { "shares": "0", "round_shares": "", "animate_shares": "0", "share_url": "http:\/\/www.pixelademo.com\/mobile-menu\/", "title": "Mobile+Menu", "image": null, "desc": "jQuery Mobile Menu V1.0\r\nFeatures\r\n\r\n\tMulti-level menu support (3 levels max)\r\n\tFlexible, lightweight and easy to setup\r\n\tCross-browser compatibility\r\n\tVery clean corporate style\r\n\r\nPlease Like, Share or Comment below to support this site.\r\nVIEW DEMOSDOWNLOAD\r\n\r\nUsage\r\nInclude the CSS & JS\r\njquery.mobile-menu.css can be modified \u2026", "hashtag": "", "subscribe": "content", "subscribe_url": "", "activestatus": "1", "singular": "1", "twitter_popup": "1" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='http://www.pixelademo.com/wp-content/plugins/mashsharer/assets/js/mashsb.min.js?ver=2.2.3'></script>
    <script type='text/javascript' src='http://www.pixelademo.com/wp-content/themes/twentyfifteen/js/skip-link-focus-fix.js?ver=20141010'></script>
    <script type='text/javascript' src='http://www.pixelademo.com/wp-includes/js/comment-reply.min.js?ver=4.1'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var screenReaderText = { "expand": "<span class=\"screen-reader-text\">expand child menu<\/span>", "collapse": "<span class=\"screen-reader-text\">collapse child menu<\/span>" };
        /* ]]> */
    </script>
    <!-- ไม่่ให้กดตัวอักษรของ doodeebigeye (ต้องวางไว้ ตัวสุดท้าย ซิดกับ body)-->
    @*2 อันแรก pause ได้ ไม่เกี่ยว sure test แล้ว *@
    @*<script src="~/assets/bootstrap-3.2.0/js/bootstrap.min.js"></script>
        <script src="~/assets/bootstrap-3.2.0/plugin/datepicker/js/bootstrap-datepicker.js"></script>*@
    <script src="~/assets/bootstrap-3.2.0/plugin/bootstrap-timepicker-gh-pages/js/bootstrap-timepicker.js"></script>
    <script src="~/assets/js/fancybox/jquery.fancybox.js"></script>
    <script src="~/assets/js/jquery.bxslider/jquery.bxslider.min.js"></script>
    <script src="~/assets/js/jQuery-Validation-Engine-master/js/jquery.validationEngine.js"></script>
    <script src="~/assets/js/jQuery-Validation-Engine-master/js/languages/jquery.validationEngine-th.js"></script>
    @*test แล้วไม่เกี่ยว sure*@
    @*<script>
        $(document).ready(function() {
            $("#form-validation").validationEngine();
            $("#form-validation2").validationEngine();
            // $("#form-validation3").validationEngine();
            $('.bxslider').bxSlider({
                auto: true,
                speed: 1000,
                pager: false,
                responsive: false
            });
            $('.bxslider2').bxSlider({
                auto: true,
                speed: 1000,
                responsive: false,
                pagerCustom: '#bx-pager'
            });
        });
        </script>*@
    @*ของ doodeebigeyes ทำให้ไม่สามารถกดตัวอักษรลงใน input ได้*@
    <script src="~/assets/js/script.js"></script>
    @*ยังไม่รู้ว่าคืออะไร  ; test แล้วไม่เกี่ยว น่าจะเกี่ยวกับ fb แต่ไม่เกี่ยวกับ doodeebigeye แน่นอน*@
    @*<div id="fb-root"></div>
            <script>
        (function(d, s, id) {
          var js, fjs = d.getelementsbytagname(s)[0];
          if (d.getelementbyid(id)) return;
          js = d.createelement(s); js.id = id;
          js.src = "//connect.facebook.net/en_us/sdk.js#xfbml=1&appid=575718449220600&version=v2.0";
          fjs.parentnode.insertbefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>*@
    @*บอยเอามาใส่ 2 บรรทัดล่างนี้ ใส่แล้ว swipebox จะใช้ไม่ได้  มันคืออะไร*@
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @*ไม่ใส่แล้ว เน่าเลย*@
    @RenderSection("scripts", required: false)




</body>
</html>