@model bigeyedev_member_address

<div>
    <p>รายละเอียดการจัดส่ง : </p>
    <span style="color:#6f6f6f;">
        @Model.name , @Model.mobile_shop @Model.mobile2_shop <br />
        @Model.address @Model.sub_district <br />
        @Model.district @Model.province @Model.zip
    </span>
</div>
